  <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to bottom, #ffeef5, #f6f7ff);
        }

	body {
    	    background-image: url('pink3.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-position: center center;
}

     .welcome-box {
     	font-family: "Lobster", sans-serif;
    	font-size: 50px;
    	color: #800020;
    	text-align: center;
    	letter-spacing: 2px; 
    	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);



}
     
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #FFD1DC ; 
            padding: 14px 40px;
            border-radius: 0 0 20px 20px;
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .nav-links {
            display: flex;
            gap: 40px;
        }

        .nav-links a {
            text-decoration: none;
            color:  #C20E4F ;
            font-weight: 500;
            font-size: 16px;

}
     .date-box {
        position: absolute; 
        right: -260px; 
        top: 20px; 
        z-index: 10; 
        color: white;
        background: #FC6C85;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 500;
        }

        
        .hero {
            background-image:url('pink.jpg');    
            margin: 40px auto;
            padding: 50px;
            border-radius: 25px;
            width: 90%;
            max-width: 1100px;
            text-align: center;
            box-shadow: 0 4px 20px rgba(0,0,0,0.05);
       
	}

        .hero h1 {
            font-size: 42px;
            color: #8A1144  ;
            margin-bottom: 15px;
            font-weight: 700;
        }

        .hero p {
            color: #6f6f6f;
            font-size: 18px;
     
}
.play-song-btn {
            background-color: #8A1144;
            color: white;
            padding: 15px 35px;
            border-radius: 15px;
            border: none;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 15px rgba(0,0,0,0.2);
            transition: 0.3s;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }

        .play-song-btn:hover {
            transform: scale(1.05);
            background-color: #a31652;
        }

        
        .audio-sidebar {
            position: fixed;
            left: -350px; 
            bottom: 50px;
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(10px);
            padding: 12px 20px;
            border-radius: 0 50px 50px 0;
            border: 2px solid #FFD1DC;
            box-shadow: 5px 0 15px rgba(0,0,0,0.1);
            transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            z-index: 9999;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .audio-sidebar.active {
            left: 0; 
        }

        .song-label {
            font-size: 12px;
            color: #8A1144;
            font-weight: bold;
            white-space: nowrap;
        }

        #playPauseBtn {
            background: #8A1144;
            color: white;
            border: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

	.audio-sidebar audio {
            display: none;
}

	.audio-player audio {
           display: block;
           margin: 0 auto;
}

.text-boxes-container {
    display: flex; 
    gap: 25px;      
    justify-content: center; 
    margin: 40px auto;
    flex-wrap: wrap; 
}

.custom-text-box {
    background-color: white; 
    border-radius: 15px; 
    padding: 25px;
    width: 250px; 
    height: auto; 
    text-align: center;
    border: 2px solid #FFD1DC;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
    
    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.custom-text-box p {
    margin: 0; 
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal; 
    line-height: 1.6;
    color: #555;
    font-size: 15px;
}


.custom-text-box:hover {
    transform: translateY(-12px) scale(1.03); 
    box-shadow: 0 15px 30px rgba(138, 17, 68, 0.15); 
    border-color: #8A1144;
}

.footer {
    font-family: Arial, sans-serif;
    color:#450C21;
    margin-top:30px;
    margin-bottom:30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    background-color:#F7CAC9;
    border-top: 5px solid var(--pink-accent);
    width:98%;
}


.biodata  {
  background-image: url('img1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            min-height: 100vh; 
            margin: 0;
        }

	body {
    font-family: Arial, sans-serif;
    margin: 8;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f8f8f8; 
}


.navigation-bar {
    display: flex;
    justify-content: center; 
    padding: 20px 0;
    width: 100%;
    gap: 15px; 
}

.nav-button {
    text-decoration: none; 
    color: white;
    background-color: #ff69b4; 
    padding: 10px 20px;
    border-radius: 25px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-button:hover {
    background-color: #ff8c94; 
    transform: translateY(-2px); 
}


.title-bar {
    width: 80%;
    background-color: #ffd1dc; 
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-bar h1 {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    letter-spacing: 6px; 
    margin: 0;
    color:  #C20E4F ; 
    font-size: 30px;
}

.image-frame-container {
    margin-bottom: 40px;
}

.image-card {
    padding: 10px;
    background-color: #FFF1F4 ;
    border: 3px solid  #F83B72 ; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.profile-image {
    display: block;
    width: 200px; /* Saiz Imej */
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
}

.biodata-table-container {
    width: 70%; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: auto;  
    margin-right: auto; 
    margin: 20px auto; 
}

.biodata-table {
    width: 100%;
    border-collapse: collapse;
}

.biodata-table td {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffc0cb; 
}

.biodata-table .label {
    width: 20%;
    font-weight: bold;
    color: #ff69b4;
    background-color: #fff0f5; 
}

.biodata-table .value {
    width: 70%;
    color: #333;
}

.biodata-table .label {
    width: 30%; 
    font-weight: bold;
    color: #ff69b4; 
}

.biodata-table .value {
    width: 70%;
    color: #333;
}

.bio-cards-container {
    max-width: 900px;
    margin: 45px auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}

 :root {
            --primary-color: #992D5F; 
            --bg-color: #e9e5d9;      
            --card-bg:  #FFF1F4 ;
        }

        body {
            background-color: var(--bg-color);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 20px;
            color: var(--primary-color);
        }


 .container {
            max-width: 800px;
            width: 100%;
        }

          .card {
            background: var(--card-bg);
            border: 2px solid var(--primary-color);
            border-radius: 8px;
            margin-bottom: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(141, 75, 85, 0.2);
        }

        .card-header {
            border-bottom: 2px solid var(--primary-color);
            padding: 10px 20px;
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
        }

        .card-body {
            padding: 20px;
        }

        
        .fact-card {
            width: 100%;
	    margin-top:30px;
        }

        .bottom-row {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;        }

        .personality-card {
            flex: 1;
            min-width: 250px;
        }

        .favorites-card {
            flex: 1.5;
            min-width: 300px;
        }

        .split-content {
            display: flex;
            height: 100%;
        }

        .split-column {
            flex: 1;
            padding: 15px;
        }

        .split-column:first-child {
            border-right: 2px solid var(--primary-color);
        }

        .column-title {
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid var(--primary-color);
            margin-bottom: 10px;
            padding-bottom: 5px;
        }

       
          

.experience {
    background-image: url('img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}


.section-title-wrapper {
    width: 90%;
    text-align: center;
    margin: 30px 0 20px 0;
    padding: 10px 0;
    font-family: 'serif';
    background-image: linear-gradient(to bottom, #ffc0cb, #ffd1dc);
    border-radius: 50px / 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.section-title-wrapper h2, .section-title-wrapper h3 {
    margin: 0;
    color: #8b0000;
}


.audio-container {
    background: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(5px);
    padding: 15px 20px;
    border-radius: 50px; 
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    margin-top: 20px;
    border: 2px solid #FFD1DC;
    box-shadow: 0 4px 15px rgba(138, 17, 68, 0.1);
}

.song-info {
    font-size: 13px;
    color: #8A1144;
    margin: 0 0 8px 0;
    font-weight: 600;
}

audio {
    height: 35px;
    width: 250px;
}

.audio-sidebar audio {
    display: none;
}

.content-flex-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%; 
    margin-bottom: 50px;
}

.experience-text-box {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  flex: 1;
  background-color: white;
  padding: 10px;
  vertical-align: top;
  color:black
  border-radius: 20px; 
  border: 3px solid #ff69b4; 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
  font-size: 16px;
}

.flip-card-wrapper {
    perspective: 1000px; 
    width: 250px;
    height: 300px;
}

.flip-card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.flip-card:hover {
    transform: rotateY(180deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.flip-card-back {
    transform: rotateY(180deg); 
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-card-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    width: 80%;
    margin-top: 20px;
}

.gallery-card {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-card:hover {
         transform: translateY(-5px);    
	 box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

        }

        .edu-section-full {
            width: 100%;
            display: flex;
            flex-direction: column; 
            align-items: center;    
            gap: 30px;          
            padding: 50px 0;
        }


	
	body {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
    

}

       
        .cloud-title {
            background: white;
            padding: 15px 60px;
            border-radius: 100px;
            border: 3px solid #d81b60;
            box-shadow: 8px 8px 0px #ffd1dc;
            margin-bottom: 50px;
        }

        .cloud-title h2 {
            font-family: 'Dancing Script', cursive;
            color: #d81b60;
            font-size: 35px;
            margin: 0;
        }

        
        .edu-card-wide {
            display: flex;          
            flex-direction: row;    
            align-items: center;
            width: 85%;             
            max-width: 1000px;      
            background: white;
            padding: 25px 40px;
            border-radius: 30px;
            border: 2px solid #ffd1dc;
            transition: 0.3s ease;
            box-sizing: border-box; 
        }

        .edu-card-wide:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(216, 27, 96, 0.1);
            border-color: #d81b60;
        }

        .flip-box {
            width: 140px;
            height: 140px;
            perspective: 1000px;
            flex-shrink: 0;
        }

        .flip-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }

        .edu-card-wide:hover .flip-inner {
            transform: rotateY(180deg);
        }

        .flip-front, .flip-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 20px;
            border: 3px solid #d81b60;
        }

        .flip-front img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 18px;
        }

        .flip-back {
            background: #d81b60;
            color: white;
            transform: rotateY(180deg);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            font-size: 14px;
            border-radius: 18px;
        }

        
        .edu-info {
            margin-left: 40px;
            text-align: left;
        }

        .edu-tag {
            display: inline-block;
            background: #ffd1dc;
            color: #d81b60;
            padding: 5px 15px;
            border-radius: 8px;
            font-weight: bold;
            font-size: 12px;
            border: 1px solid #d81b60;
            margin-bottom: 10px;
        }

        .edu-info h3 {
            font-size: 24px;
            margin: 5px 0;
            color: #A90B38;
        }

        .edu-info p {
            margin: 3px 0;
            color: black;
            line-height: 1.5;
        }

 .quote-box {
    margin-top: 10px;
    border: 2px solid #A90B38; 
    border-left: 10px solid #A90B38; 
    padding: 20px;
    background-color:#FEF1F6; 
    border-radius: 5px;
}

.quote-text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin: 0;
}

.quote-author {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
    color: #A90B38;
    text-align: center;
}




.entertainment {

body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(to bottom, #ffeef5, #f6f7ff);
        }

	body {
    	    background-image: url('pink3.jpg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-position: center center;
}



.entertainment-card-grid-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 90px; 
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
}


.entertainment-card {
    width: 300px;
    height: 350px;
    background-color: white;
    border: 2px solid #ffc0cb; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.entertainment-card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /
}

.card-title {
    color: #ff69b4; /* Pink */
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card-image {
    width: 190px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ffc0cb;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.view-button {
    text-decoration: none;
    color: white;
    background-color: #ff69b4; 
    padding: 8px 25px;
    border-radius: 20px; 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    margin-top: auto; 
}

.view-button:hover {
    background-color: #e04a9e; 
}

   